<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>C307223F-1823-4148-BEF6-22C29A5C8C9A</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.AppleTV-1080p</string>
	<key>name</key>
	<string>IBAppleTVSimDeviceType1080p</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.tvOS-10-2</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
